.main {
  margin: 0 auto;
  padding: calc((100vh - 100px - 30px) / 4) calc(var(--spacer-lg) * 1.5);
  min-height: calc(100vh - 100px - 30px);
  background-color: var(--body-light);
  position: relative;
}
.position-above {
  position: relative;
  z-index: 1;
}
