.main {
  padding: calc((100vh - 100px - 30px) / 10) calc(var(--spacer-lg) * 1.5)
    calc(var(--spacer-lg) * 1.5);
  min-height: calc(100vh - 100px - 30px);
  background-color: var(--body-light);
  position: relative;
}
.navigation {
  position: absolute;
  z-index: 1;
  right: 2rem;
  margin: 1rem 0;
}
.position-above {
  position: relative;
  z-index: 1;
}
