.spinner-cycle {
  display: inline-block;
  width: calc(var(--spacer-lg) * 5);
  height: calc(var(--spacer-lg) * 5);
  vertical-align: calc(var(--spacer-xs) * -0.5);
  color: var(--love-red);
  border: calc(var(--spacer-sm) * 0.4) solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: 800ms linear infinite cycle;
  z-index: 1000;
  position: fixed;
  inset: 0;
  margin: auto;
  pointer-events: none;
  user-select: none;
}
@keyframes cycle {
  to {
    transform: rotate(360deg);
  }
}

.spinner-cycle.pulse {
  background-color: currentColor;
  opacity: 0;
  animation: 800ms linear infinite pulse;
}
@keyframes pulse {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: none;
  }
}
