@import url('https://fonts.googleapis.com/css2?family=Risque&display=swap');

:root {
  --dark-blue: #041562;
  --light-blue: #11468f;
  --love-red: #d71414;
  --body-light: #eeeeee;
}

* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Risque', cursive;
  height: 100vh;
  background-color: var(--body-light);
}
