@import url('https://fonts.googleapis.com/css2?family=Rambla:ital,wght@0,400;0,700;1,400&family=Risque&display=swap');

:root {
  --dark-blue: #041562;
  --light-blue: #11468f;
  --love-red: #d71414;
  --body-light: #eeeeee;
  --text-dark: #212529;
  --text-white: #ffffff;

  --warning: #f0ad4e;
  --success: #22bb33;
  --danger: #bb2124;

  --dark-shadow: rgba(0, 0, 0, 0.25);

  --spacer-xs: 0.5rem;
  --spacer-sm: 1rem;
  --spacer-md: 1.5rem;
  --spacer-lg: 2rem;
}

* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Risque', cursive;
  height: 100vh;
  background-color: var(--body-light);
  font-size: 1.6rem;
}
.container {
  max-width: 1500px;
  margin: 0 auto;
}
.sr-only {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
