.flex-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flex-wrap > * {
  flex-basis: 100%;
}
@media only screen and (max-width: 769px) {
  .flex-wrap-md {
    flex-wrap: wrap;
  }
  .order-swap > *:first-child {
    order: 1;
  }
}
